:root {
  --primary: #6df6ff;
  --primaryDarker: #00d1ff;
  --positive: #b3ff85;
  --negative: #ff9270;
  --backgroundPrimary: #b6b3ae;
  --backgroundSecondary: #c6c1bd;
  --backgroundTertiary: #21201f;
  --backgroundQuaternary: #2c2b29;
  --backgroundQuinary: #363634;
  --textPrimary: #21201f;
  --textSecondary: #757169;

  --title: 40px;
  --subtitle: 18px;
  --input: 14px;
  --label: 12px;
}
