.App {
  text-align: center;
  height: 250px;
  width: 500px;
  font-family: "nimbus_sans_cond_lregular";
  background-color: var(--backgroundPrimary);
}

h1 {
  color: var(--textPrimary);
  font-size: var(--title);
}

h3 {
  color: var(--textPrimary);
  font-size: var(--subtitle);
}
